* {
    font: "JetBrainsMono NF Bold 9";
    background: #282828;
    background-alt: #1d2021;
    bg-hover: #3c3836;
    foreground: #ebdbb2;
    foreground-alt: #a89984;
    accent: #fabd2f;
    accent2: #fe8019;
    selected: #3c3836;
    active: #b8bb26;
    urgent: #fb4934;
}
