* {
    font: "JetBrainsMono NF Bold 9";
    background: #2d353b;
    background-alt: #343f44;
    bg-hover: #3d484d;
    foreground: #d3c6aa;
    foreground-alt: #859289;
    accent: #83c092;
    accent2: #e69875;
    selected: #3d484d;
    active: #a7c080;
    urgent: #e67e80;
}
