* {
    font: "JetBrainsMono NF Bold 9";
    background: #303446;
    background-alt: #292c3c;
    bg-hover: #414559;
    foreground: #c6d0f5;
    foreground-alt: #b5bfe2;
    accent: #ca9ee6;
    accent2: #8caaee;
    selected: #414559;
    active: #a6d189;
    urgent: #e78284;
}
